@charset "UTF-8";
/*estilos del html Cejas*/
.cejasPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 15px;
  font-size: 20px; }
  .cejasPrincipal .lista {
    text-decoration: none;
    list-style: none;
    font-family: 'Amatic SC', cursive;
    font-family: 'Moon Dance', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    text-align: center; }

@media screen and (max-width: 500px) {
  .contenedor {
    height: 80vh;
    display: grid;
    grid-template-areas: "encabezado" "titulo" "principal1" "footer";
    justify-content: center; }
  .navbar {
    grid-area: encabecado; }
  h1 {
    grid-area: titulo; }
  .cejasPrincipal {
    grid-area: principal1; }
  .video {
    display: none; }
  footer {
    text-align: center;
    font-size: 15px;
    margin-top: 80px;
    grid-area: footer; }
  .redes {
    display: inline-block;
    padding: 10px; } }

@media screen and (max-width: 900px) {
  h1 {
    font-size: 15px; } }

body div main .imgCosme {
  justify-content: center;
  margin: 20px;
  align-items: center;
  border: 2px solid  #A52206;
  border-radius: 20px;
  width: 450px;
  height: 350px;
  padding: 15px; }
  body div main .imgCosme p {
    padding: 10px; }
    body div main .imgCosme p span {
      display: block; }

@media screen and (max-width: 500px) {
  body .contenedor {
    height: 80vh;
    display: grid;
    grid-template-areas: "encabezado" "titulo" "principal1" "footer";
    justify-content: center; }
    body .contenedor .navbar {
      grid-area: encabecado; }
      body .contenedor .navbar h1 {
        grid-area: titulo; }
  body .cosme {
    grid-area: principal1; }
  body .imgCosme {
    display: block;
    justify-content: center;
    margin: 20px;
    align-items: center;
    border: 2px solid  #A52206;
    border-radius: 20px;
    width: 350px;
    height: 250px;
    padding: 15px; } }

/*estilos pestaña*/
body div header h1 {
  color: #A52206;
  font-size: 70px;
  font-family: 'Aguafina Script', cursive;
  font-family: 'Moon Dance', cursive;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  text-align: center; }

body div .mainPestana {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-family: 'Moon Dance', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 20px; }
  body div .mainPestana .pestana {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px; }

/*estilos de epilacion*/
body div main {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-family: 'Moon Dance', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 15px; }

body div ol {
  text-decoration: none;
  list-style: none;
  font-family: 'Amatic SC', cursive;
  font-family: 'Moon Dance', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

body .contacto form {
  border: 2px solid black;
  border-radius: 30px;
  padding: 15px;
  width: 300px; }

body .contacto {
  justify-content: center; }

body .mapa {
  width: 150px;
  height: 150px; }

@media screen and (max-width: 500px) {
  /*INDEX*/
  .contenedor {
    height: 80vh;
    display: grid;
    grid-template-areas: "encabezado" "titulo" "principal1" "footer";
    justify-content: center; }
  .navbar {
    grid-area: encabecado; }
  h1 {
    grid-area: titulo;
    display: none; }
  .texto {
    display: none; }
  .principal {
    padding: 1px;
    text-align: center;
    background-image: url("../img/material-cosmiatria.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    grid-area: principal1;
    width: auto;
    justify-content: center;
    align-items: center; }
  footer {
    grid-area: footer; }
  /*CEJAS*/
  .video {
    display: none; }
  .cosme {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer {
    text-align: center;
    font-size: 15px;
    margin-top: 80px;
    grid-area: footer; }
  .redes {
    display: inline-block;
    padding: 10px; } }

/*Contacto*/
.contacto {
  margin: 50px; }
  .contacto form fieldset legend {
    text-align: center; }

@media screen and (max-width: 900px) {
  h1 {
    font-size: 35px; }
  .texto {
    display: none; }
  .img {
    height: 300px; }
  .cosme {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/*estilos del index*/
body {
  background-image: linear-gradient(to left, #F5B7B1, #FAE5D3); }
  body div header nav div ul li {
    margin: 15px;
    text-transform: uppercase;
    font-size: 20px; }
    body div header nav div ul li:hover {
      background-color: #fa8072;
      transform: scale(1.02); }
  body div header h1 {
    color: #A52206;
    font-size: 70px;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-align: center; }
  body div .principal {
    height: 600px;
    align-items: center;
    text-align: center;
    background-image: url("../img/material-cosmiatria.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px; }
    body div .principal h2 {
      font-family: 'Amatic SC', cursive;
      font-family: 'Moon Dance', cursive;
      font-family: 'Playfair Display', serif;
      font-family: 'Roboto', sans-serif;
      font-size: 35px;
      font-weight: bold; }
  body div footer {
    text-align: center; }
    body div footer div h3 {
      display: inline-block;
      padding: 10px; }
    body div footer h3 {
      font-family: 'Aguafina Script', cursive;
      font-family: 'Amatic SC', cursive;
      font-family: 'Moon Dance', cursive;
      font-family: 'Roboto', sans-serif;
      font-size: 15px; }

@media screen and (max-width: 500px) {
  /*INDEX*/
  .contenedor {
    height: 80vh;
    display: grid;
    grid-template-areas: "encabezado" "titulo" "principal1" "footer";
    justify-content: center; }
  .navbar {
    grid-area: encabecado; }
  h1 {
    grid-area: titulo;
    display: none; }
  .texto {
    display: none; }
  .principal {
    padding: 1px;
    text-align: center;
    background-image: url("../img/material-cosmiatria.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    grid-area: principal1;
    width: auto;
    justify-content: center;
    align-items: center; }
  footer {
    grid-area: footer; } }
