@charset "UTF-8";
/*estilos del html Cejas*/
.cejasPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 15px;
  font-size: 20px; }
  .cejasPrincipal .lista {
    text-decoration: none;
    list-style: none;
    font-family: 'Amatic SC', cursive;
    font-family: 'Moon Dance', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #A52206; }

/*estilos pestaña*/
body div header h1 {
  color: #A52206;
  font-size: 70px;
  font-family: 'Aguafina Script', cursive;
  font-family: 'Moon Dance', cursive;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  text-align: center; }

body div .mainPestana {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-family: 'Moon Dance', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 30px; }

/*estilos de epilacion*/
body div main {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-family: 'Moon Dance', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 15px; }

body div ol {
  text-decoration: none;
  list-style: none;
  font-family: 'Amatic SC', cursive;
  font-family: 'Moon Dance', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

body div form {
  border: 2px solid black;
  border-radius: 30px;
  padding: 15px;
  width: 400px; }

@media screen and (max-width: 480px) {
  /*INDEX*/
  .contenedor {
    height: 80vh;
    display: grid;
    grid-template-areas: "encabezado" "titulo" "principal1" "footer";
    justify-content: center; }
  .navbar {
    grid-area: encabecado; }
  h1 {
    display: none; }
  .texto {
    display: none; }
  .principar1 {
    font-size: 30px;
    padding: 50px;
    text-align: center;
    background-image: url("../img/material-cosmiatria.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    grid-area: principal1;
    width: auto;
    justify-content: center;
    align-items: center; }
  footer {
    grid-area: footer; }
  /*CEJAS*/
  .video {
    display: none; }
  .cosme {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu {
    background-color: #f5ac85;
    top: 0;
    text-align: center;
    grid-area: menu; }
  .menu li {
    background-color: #cc162e;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 30px; }
  header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 35px;
    text-transform: uppercase; }
  footer {
    text-align: center;
    font-size: 15px;
    margin-top: 80px;
    grid-area: footer; }
  .redes {
    display: inline-block;
    padding: 10px; } }

@media screen and (max-width: 900px) {
  .encabezado {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 80px;
    padding: 30px;
    grid-area: encabezado;
    font-size: 20px; }
  h1 {
    font-size: 35px; }
  .texto {
    display: none; }
  .img {
    height: 300px; }
  .cosme {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/*estilos del index*/
body {
  background-image: linear-gradient(to left, #F5B7B1, #FAE5D3); }
  body div header nav div ul li {
    margin: 35px;
    text-transform: uppercase; }
    body div header nav div ul li:hover {
      background-color: #fa8072;
      transform: scale(1.1); }
  body div header h1 {
    color: #A52206;
    font-size: 70px;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-align: center; }
  body div .principal {
    height: 600px;
    align-items: center;
    text-align: center;
    background-image: url("../img/material-cosmiatria.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px; }
    body div .principal h2 {
      font-family: 'Amatic SC', cursive;
      font-family: 'Moon Dance', cursive;
      font-family: 'Playfair Display', serif;
      font-family: 'Roboto', sans-serif;
      font-size: 35px;
      font-weight: bold; }
  body div footer {
    text-align: center; }
    body div footer div h3 {
      display: inline-block;
      padding: 10px; }
    body div footer h3 {
      font-family: 'Aguafina Script', cursive;
      font-family: 'Amatic SC', cursive;
      font-family: 'Moon Dance', cursive;
      font-family: 'Roboto', sans-serif;
      font-size: 20px; }
