@import "utilities/cejas";
@import "utilities/cosmetologia";
@import "utilities/pestanas";
@import "utilities/epilacion";
@import "utilities/contacto";
@import "utilities/mediaqueries";

@mixin titulo{
    color: #A52206;
    font-size: 70px;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-align: center;
}
/*estilos del index*/
body{
    background-image: linear-gradient( to left, #F5B7B1, #FAE5D3);
    div{
        header{
            nav{

                div{
                    ul{
                        li{
                            margin: 15px;                
                            text-transform: uppercase;
                            font-size: 20px;
                            &:hover{
                                background-color: #fa8072;
                                transform: scale(1.02);
                            }
                        }
                    }
                }
            }
            h1{
                color: #A52206;
                font-size: 70px;
                font-family: 'Aguafina Script', cursive;
                font-family: 'Moon Dance', cursive;
                font-weight: bold;
                text-align: center;
                padding: 10px;
                text-align: center;
            }
        }
    

        .principal{
            height: 600px;
            align-items: center;
            text-align: center;
            background-image: url('../img/material-cosmiatria.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            padding:50px;
            h2{
                font-family: 'Amatic SC', cursive;
                font-family: 'Moon Dance', cursive;
                font-family: 'Playfair Display', serif;
                font-family: 'Roboto', sans-serif;
                font-size: 35px;
                font-weight: bold;
            }
        }

        footer{
            text-align: center;
            div{
                h3{
                    display: inline-block;
                    padding: 10px;
                }
                
            }
            h3{
                font-family: 'Aguafina Script', cursive;
                font-family: 'Amatic SC', cursive;
                font-family: 'Moon Dance', cursive;
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width:500px) {
   
    /*INDEX*/
    .contenedor{
        height: 80vh;
        display: grid;
        grid-template-areas: "encabezado"
                              "titulo"
                              "principal1"
                              "footer";
        justify-content: center;
    }   

    .navbar{
        grid-area: encabecado;
    }

    h1{
        grid-area: titulo;
        display: none;
    }

    .texto{
        display: none;
    }
    .principal{
        padding: 1px;
        text-align: center;
        background-image: url('../img/material-cosmiatria.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        font-family: 'Aguafina Script', cursive;
        font-family: 'Moon Dance', cursive;
        grid-area: principal1;
        width: auto;
        justify-content: center;
        align-items: center;
    }

    footer{
        grid-area: footer;
    }
}