%borde{
    border: 2px solid #A52206;
    border-radius: 30px;
    padding: 15px;
    width: 400px;
}

body{
    .contacto{
        display: flex;
        justify-content:space-around;
        height: 600px;     
        form{
            legend{
                text-align: center
            }
            @extend %borde;
            height: 500px;
        }
        iframe{
            height: 500px;
            width: 400px;
        }
    }
  
}

@media screen and (max-width:700px){
   
    .contenedor{
        height: 80vh;
        display: grid;
        grid-template-areas:"encabezado"
                            "titulo"
                            "principal1"
                            "footer";
        justify-content: center;
        }
  
    .navbar{
        grid-area: encabecado;
    }  
    
    .contacto{
        grid-area: principal1;
    }
    body div .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    body div .contacto form{
        height: 300px;
        width: 500px;
        font-size: 15px;
    }
    body div .contacto iframe{
        height: 300px;
        width: 500px;
    }
    footer{
        text-align: center;
        font-size: 10px;
        margin-top: 80px;
        grid-area: footer;
    }
    
    .redes{
        display: inline-block;
        padding: 10px;
    }
}

@media screen and (max-width:480px) {
   
    .contenedor{
        height: 80vh;
        display: grid;
        grid-template-areas: "encabezado"
                              "titulo"
                              "principal1"
                              "footer";
        justify-content: center;
        align-items: center;
    }   

    .navbar{
        grid-area: encabecado;
    }  
    body div header h1{
        grid-area: titulo;
        font-size: 55px;
    }
    .contacto{
        grid-area: principal1;
    }
    body div .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    body div .contacto form{
        height: 450px;
        width: 280px;
        font-size: 15px;
    }
    body div .contacto iframe{
        height: 350px;
        width: 300px;
    }
    footer{
        text-align: center;
        font-size: 10px;
        margin-top: 80px;
        grid-area: footer;
    }
    
    .redes{
        display: inline-block;
        padding: 10px;
    }

    

  
  
}