/*estilos de epilacion*/
body{
    div{
        main{
            text-align: center;
            font-family: 'Amatic SC', cursive;
            font-family: 'Moon Dance', cursive;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            margin: 15px;
        }
        ol{
            text-decoration: none;
            list-style: none;
            font-family: 'Amatic SC', cursive;
            font-family: 'Moon Dance', cursive;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            text-align: center;
        }
    }
}