@media screen and (max-width:500px) {
   
    /*INDEX*/
    .contenedor{
        height: 80vh;
        display: grid;
        grid-template-areas: "encabezado"
                              "titulo"
                              "principal1"
                              "footer";
        justify-content: center;
    }   

    .navbar{
        grid-area: encabecado;
    }

    h1{
        grid-area: titulo;
        display: none;
    }

    .texto{
        display: none;
    }
    .principal{
        padding: 1px;
        text-align: center;
        background-image: url('../img/material-cosmiatria.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        font-family: 'Aguafina Script', cursive;
        font-family: 'Moon Dance', cursive;
        grid-area: principal1;
        width: auto;
        justify-content: center;
        align-items: center;
    }

    footer{
        grid-area: footer;
    }

    /*CEJAS*/

    .video{
        display: none;
    }
    
    .cosme{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    footer{
        text-align: center;
        font-size: 15px;
        margin-top: 80px;
        grid-area: footer;
    }
    
    .redes{
        display: inline-block;
        padding: 10px;
    }
}

/*Contacto*/

.contacto{
  margin: 50px;
  form{
    fieldset{
          legend{
              text-align: center; 
          }
         

      }
  }
}

@media screen and (max-width:900px) {
   
   
    h1{
        font-size: 35px;
    }
    .texto{
        display: none;
    }

    .img{
        height: 300px;
    }

    .cosme{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 